<template>
    <div class="error-message">
        <b-message type="is-danger">
            {{ error }}
        </b-message>
    </div>
</template>

<script>
    export default {
        name: 'NoDataError',
        props: {
            error: String
        }
    }
</script>
<style scoped>
</style>
