<template>
    <div class="error-message">
        <b-message type="is-warning">
            No data available
        </b-message>
    </div>
</template>

<script>
</script>

<style scoped>
</style>
