<template>
    <div class="list-view">
        <b-table
        :data = "machines"
        :columns = "columns"
        :selected.sync = "selected"
        detailed
        focusable>
            <template slot="detail" slot-scope="props">
                <strong>{{ props.row.detail }}</strong>
            </template>
        </b-table>
    </div>
</template>

<script>
export default {
    name: 'MachinesTable',
    data() {
        return {
            selectedSensorId: [],
            selected: null,
            columns: [
                {
                    field: 'id',
                    label: 'ID',
                    centered: true
                },
                {
                    field: 'name',
                    label: 'Machine Name',
                    centered: true
                },
                {
                    field: 'lastKnownPosition',
                    label: 'Position',
                    centered: true
                }
                ]}
    },
    props: {
        machines: Array
    },
    watch: {
        selected: function () {
            this.selectedSensorId = [];
            for(let i = 0; i < this.selected.sensors.length; i++){
                this.selectedSensorId.push(this.selected.sensors[i].sensorId)
        }
            this.$store.commit('setSelectedSensorId', this.selectedSensorId)
        }
    },
}
</script>

<style scoped>

</style>
