<template>
  <div class="container">
    <ApolloQuery :query="require('../graphql/sensorDataById.gql')" :variables="{
      sensorId: selectedSensorId,
      from: fromTime,
      to: toTime
      }">
      <template v-slot="{ result: { loading, error, data } }">
        <b-loading :is-full-page=true :active.sync=loading :can-cancel="false"/>
        <div v-if="error">
          <no-data-error :error="error"/>
        </div>
        <div v-if="data">
          <bar-chart-view :sensorInfo="data.sensorData"/>
        </div>
      </template>
    </ApolloQuery>
  </div>
</template>

<script>
import BarChartView from "../components/BarChartView";
import NoDataError from "../components/warningAndError/NoDataError";
export default {
  name: 'ChartPage',
  data(){
    return{
    }
  },
  components: {
    BarChartView,
    NoDataError
  },
  computed: {
    selectedSensorId () {
      return this.$store.state.selectedSensorId;
    },
    fromTime () {
      return this.$store.state.fromTime;
    },
    toTime () {
      return this.$store.state.toTime;
    },
  },
  beforeDestroy() {
    // clean vuex
    this.$store.commit('setSelectedSensorId', []);
    this.$store.commit('setFromTime', null);
    this.$store.commit('setToTime', null);
  }
}
</script>