<template>
  <div class="container">
    <ListView/>
  </div>
</template>

<script>
// @ is an alias to /src
import ListView from '@/components/ListView.vue'

export default {
  name: 'Home',
  components: {
    ListView,
  }
}
</script>
