<template>
  <section class="time-picker">
    <b-field>
      <b-datepicker
              v-model="startTime"
              :max-date="endTime"
              placeholder="Select a starting date"
              icon="calendar">
      </b-datepicker>
      <b-button
              @click="startTime = null"
              icon-left="times"
              type="is-primary" />
    </b-field>

    <b-field>
      <b-datepicker
              v-model="endTime"
              :min-date="startTime"
              placeholder="Select a ending date"
              icon="calendar">
      </b-datepicker>
      <b-button
              @click="endTime = null"
              icon-left="times"
              type="is-primary" />
    </b-field>

  </section>
</template>

<script>
  export default {
    data() {
      return {
        startTime: null,
        endTime: null
      }
    },
    watch: {
      startTime: function () {
        // set human readable time to timestamp
        this.$store.commit('setFromTime', this.startTime.getTime()/1000)
      },
      endTime: function () {
        // set human readable time to timestamp
        this.$store.commit('setToTime', this.endTime.getTime()/1000)
      }
    }
  }
</script>
