<template>
  <div class="Bar-chart-view">
      <div v-if="sensorInfo.length === 0">
          <no-data-warning />
      </div>
      <div v-else>
          <bar-chart :options="options" :chartdata="regeneratedDataset" />
      </div>
  </div>
</template>

<script>
import BarChart from './graph/BarChart'
import NoDataWarning from './warningAndError/NoDataWarning'
import 'chartjs-plugin-colorschemes'
import { Aspect6 } from 'chartjs-plugin-colorschemes/src/colorschemes/colorschemes.office'

import { getAllLabel, getInitialDataset, setDataIntoInitialDataset } from "../../helper";

export default {
    name: 'BarChartView',
    props: {
        sensorInfo: {
        type: Array,
        default: function () {
            return []
        }
    }
    },
    components: {
    BarChart,
    NoDataWarning
    },
    data(){

        return {
            options: {
                plugins: {
                    colorschemes: {
                        scheme: Aspect6
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },
            basicChartData: {},
            months : ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
    }
    },
    computed: {
        regeneratedDataset () {
            let chartData = this.basicChartData;
            // generate initial Timestamp Label
            let allTimestamp = getAllLabel(this.sensorInfo);
            // change timestamp to human readable label
            chartData.labels = allTimestamp.map(eachTimestamp => {
                let datum = new Date(eachTimestamp * 1000);
                return  datum.getDate().toString() + '/' + this.months[datum.getMonth()] + '/'+ datum.getFullYear().toString();
            });

            let initialDataset = getInitialDataset(this.sensorInfo, chartData.labels.length);

            chartData.datasets=setDataIntoInitialDataset(initialDataset, this.sensorInfo, allTimestamp);

            return chartData
        }
    }
}
</script>

<style scoped>
</style>
