<template>
  <div class="list-view">
    <ApolloQuery :query="require('../graphql/allMachines.gql')">
      <template v-slot="{ result: { loading, error, data } }">
        <b-loading :is-full-page=true :active.sync=loading :can-cancel="false"/>
        <div v-if="error">
          <no-data-error :error="error"/>
        </div>
        <div v-if="data && !error">
          <machines-table :machines="data.machines"/>
        </div>
      </template>
    </ApolloQuery>
    <time-picker class="time-picker" />
    <graph-button />
  </div>
</template>

<script>
import MachinesTable from "./table/MachinesTable"
import NoDataError from "./warningAndError/NoDataError"
import TimePicker from "./timePicker/TimePicker";
import GraphButton from "./buttom/GraphButton";

export default {
  name: 'ListView',
  data() {
    return {
      isLoading: true,
    }
  },
  components: {
    MachinesTable,
    NoDataError,
    TimePicker,
    GraphButton
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .time-picker {
    margin: 20px;
  }
</style>
