<template>
    <div class="graph-button">
        <div class="graph-button">
            <b-button size = "is-medium"
                      icon-left = "chart-pie"
                      @click="$router.push('/ChartPage')"
                      :disabled="$store.state.selectedSensorId.length === 0"
            >
            Generate Graph
            </b-button>
        </div>
    </div>
</template>

<script>

export default {
    name: 'GraphButton',
    props: {selected: Object}
}
</script>

<style scoped>
    .graph-button {
        margin: 1rem;
    }
</style>
